main-assistant-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "6f6a7209-f4b9-4800-8a6b-77690eb2543a",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -704,
        552
      ],
      "credentials": {
        "ollamaApi": {
          "id": "rl2XCpLmRzvt09j0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Igor's Notion knowledge base. Use this to find existing notes, projects, tasks and decisions.",
        "qdrantCollection": {
          "__rl": true,
          "value": "notion-kb",
          "mode": "list",
          "cachedResultName": "notion-kb"
        },
        "options": {}
      },
      "id": "aab30fde-17da-440f-a0e6-dc5083cb5165",
      "name": "Search Notion KB",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -784,
        344
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'telegram_' + $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "id": "3651ba40-0bd8-4ec3-b93b-f8001c7843f4",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -912,
        344
      ]
    },
    {
      "parameters": {
        "model": "=openai/gpt-4o-mini",
        "options": {}
      },
      "id": "0cd86496-df7b-41f8-a2f8-25ed73133138",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1040,
        344
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ZO9htD256zTm5lJG",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        120
      ],
      "id": "82be3c96-13e2-4974-9e88-55bcbef4bc1c",
      "name": "Telegram Trigger",
      "webhookId": "d3925728-351b-47da-93de-44d6e48eb48b",
      "credentials": {
        "telegramApi": {
          "id": "ghXOFtsCTjimcO4q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        120
      ],
      "id": "a7732a72-33e5-4f86-b1ae-4f60028bbdd3",
      "name": "Wait",
      "webhookId": "1da18651-52ab-473b-9fde-c67f37d67b2d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-output-empty",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "28df4b46-6a28-47f6-816e-14b275e1501e",
      "name": "Output OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Igor's personal assistant. You know his projects, preferences and decision history.\nYou manage tasks and delegate to other agents when needed.\nYou have access to the Notion knowledge base. You remember all previous conversations.\nBe specific, actionable and concise.\n\nCRITICAL RULES — ALWAYS FOLLOW:\n- When user asks you to DO something — call the appropriate tool IMMEDIATELY. Do NOT respond with text first.\n- NEVER ask for confirmation before executing a tool call.\n- NEVER ask \"czy mam dodać\" / \"czy jesteś pewien\" — just do it.\n- If content or title is mentioned in the message — use it directly.\n- Default Notion databaseId: 2f4d05428c728089a95addea3be0bc0f\n- To add content to a page: first call Create, then use the returned page ID to call Append.\n- If pageId is needed but not provided — first call Get many pages to find it.\n\nYou have access to long-term memory tools:\n- ALWAYS call search_memories at the start of EVERY conversation with the user's message as query.\n- Call save_memory after any important decision, preference, or fact is established.\n- Use memories as context when formulating your response.\n"
        }
      },
      "id": "633c4beb-0d06-4274-9e3c-074694412ee3",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -440,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "b410bd0b-e142-4dcb-93ad-03e25bfa2384",
      "name": "Telegram — sukces",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "webhookId": "3a346bfc-e982-4bdf-9132-59b79240c9d2",
      "credentials": {
        "telegramApi": {
          "id": "ghXOFtsCTjimcO4q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Coś poszło nie tak. Spróbuj ponownie lub przepisz wiadomość inaczej.",
        "additionalFields": {}
      },
      "id": "48fd0810-841e-4c9b-8cbe-8d91a41f9840",
      "name": "Telegram — błąd",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        576,
        216
      ],
      "webhookId": "433bc74b-9ba2-46c8-86eb-92aa7dd1f589",
      "credentials": {
        "telegramApi": {
          "id": "ghXOFtsCTjimcO4q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2f4d0542-8c72-8089-a95a-ddea3be0bc0f",
          "mode": "list",
          "cachedResultName": "n8n database",
          "cachedResultUrl": "https://www.notion.so/2f4d05428c728089a95addea3be0bc0f"
        },
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -496,
        344
      ],
      "id": "5250c5f4-c84c-4c9c-b0e7-3537e6ad09fb",
      "name": "Get many database pages in Notion",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $fromAI('page_id', 'The Notion page UUID to append content to. Must be a valid UUID returned from Create or Get pages tool. Format: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx', 'string') }}"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $fromAI('content', 'Text content to append to the page', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -368,
        344
      ],
      "id": "4c7f722e-926b-43e3-97d2-ccf1cfb391ef",
      "name": "Append a block in Notion",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $fromAI('page_id', 'The Notion page UUID to update. Must be a valid UUID. Get it first using Get many pages tool.', 'string') }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name",
              "title": "={{ $fromAI('title', 'New title for the page', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -240,
        344
      ],
      "id": "a5cfc174-c353-4f10-bc30-a2d5e97b8d09",
      "name": "Update a database page in Notion",
      "credentials": {}
    },
    {
      "parameters": {
        "toolDescription": "Search long-term memory before answering. Call this FIRST with the user's question.",
        "method": "POST",
        "url": "http://host.docker.internal:8888/v1/memories/search/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $fromAI('query', 'The search query to find relevant memories') }}\",\n  \"user_id\": \"main-assistant\",\n  \"limit\": 5\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -112,
        344
      ],
      "id": "b2152c24-4dfe-432a-a6fa-c642cf333125",
      "name": "search_memories"
    },
    {
      "parameters": {
        "toolDescription": "Save important decisions, preferences or facts to long-term memory.",
        "method": "POST",
        "url": "http://host.docker.internal:8888/v1/memories/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"{{ $fromAI('userMessage', 'The user message to remember') }}\" },\n    { \"role\": \"assistant\", \"content\": \"{{ $fromAI('assistantResponse', 'The assistant response to remember') }}\" }\n  ],\n  \"user_id\": \"main-assistant\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        16,
        344
      ],
      "id": "8302dde6-1750-4362-aa4d-33616112e676",
      "name": "save_memory"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2f4d0542-8c72-8089-a95a-ddea3be0bc0f",
          "mode": "list",
          "cachedResultName": "n8n database",
          "cachedResultUrl": "https://www.notion.so/2f4d05428c728089a95addea3be0bc0f"
        },
        "title": "={{ $fromAI('title', 'Page title to create', 'string') }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        144,
        344
      ],
      "id": "0e8b8e84-5767-499e-a921-086d73160e8c",
      "name": "Create a database page in Notion",
      "credentials": {}
    }
  ],
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Search Notion KB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search Notion KB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output OK?": {
      "main": [
        [
          {
            "node": "Telegram — sukces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram — błąd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Output OK?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram — błąd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages in Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append a block in Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page in Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_memories": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "save_memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page in Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "844ca14175e5fcc47d0049b87a95175cd99d6a20bc273bcead5920aec85dc43a"
  }
}